*{
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

div.container{
    font-family: 'Lato', sans-serif;
    color: #F5F4F6;
    width: 100%;
    height: 100vh;
    background:#202124;
    overflow: hidden;
}
/* ------------- CANVAS PRINCIPAL Y AUXILIAR --------------- */
canvas#dibujo{
    background-color: #FFF;
    height: 100vh;
}

canvas:hover{
    cursor: crosshair;
}

canvas#canvasAuxiliar{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
/* ------------------ VENTANA DE ALERTA  ------------------- */
div#ventanaAlerta{
    position: absolute;
    background-color: #202020;
    width: 250px;
    height: 80px;
    padding: 30px 15px;
    border-radius: 10px;
    z-index: 11;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 35vh 90vh;
}

button#btnSi,#btnNo{
    background-color: #FFF;
    color: #272727;
    font-weight: bold;
    width: 70px;
    height: 30px;
    margin: 5px 15px;
    border-radius: 5px;
    transition: opacity .3s;
}
button#btnSi:hover,#btnNo:hover{
    cursor: pointer;
    color: black;
    opacity: 0.7;

}

div#mensajeCopiado{
    position: absolute;
    background-color: #3BA55D;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    z-index: 13;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 40px;
    margin: 53vh 0vh 0vh 5.5vh;
}

div#mensajeCopiado:after {
    content: "";
    position:absolute;
    margin-top: 0px;
    margin-left: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #3BA55D;
    transform:rotate(-180deg);
    z-index: 12;
    right: 37px; 
    top: 40px;
}

/* ------------- TITULO DIBUJANDO CON CANVAS --------------- *
.titulo{
    margin: 40px 0;
    text-align: center;
}
*/
/* -------------------- BLOQUE PRINCIPAL ------------------- */
.container{
    text-align: center;
    height: 100vh;
}

/* ----------------- PANEL DE HERRAMIENTAS ----------------- */
.tools{
    float: left;
    width: 12%;
    height: 100%;
    margin: 0;
    background-color: #323232;
}

/* --------------------- PANEL DE DIBUJO ------------------- */
.paper{
    position: relative;
    float: right;
    width: 88%;
    height: 100vh;
    margin: 0;
    background-color: #202020;
}
/* Para que no se seleccione cuando se desliza */
.paper *{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

/* ---------- SECCIONES DEL PANEL DE HERRAMIENTAS --------- */
.seccion-1{
    padding: 10px 0px;
}

.seccion-2{
    padding: 10px 7px;
}

.seccion-3{
    padding: 0px 0px;
}

.seccion-4{
    padding: 0;
}

.seccion-5{
    margin-top: 30px;
    padding: 20px 30px;
    margin-bottom: 40px;
}

/* ------- TEXTOS INTERNOS DEL PANEL DE HERRAMIENTAS ------ */
.tituloGrosor{
    text-align: center;
    padding: 0px 0px 5px 20px;
}

.tituloFondo{
    display: flex;
    height: 40px;
    align-items: center;
    padding-left: 45px;
}

.tituloLimpiar{
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0;
}

.nombre{
    float: bottom;
    text-align: center;
    width: 100%;
    height: 50px;
}

/* ------------------------- BOTONES ------------------------- */
.tool-button{
    margin: 5.5px 4px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #454545;
    color: white;
    font-family: "FontAwesome";
    font-size: 20px;
    opacity: 1;
    transition: background-color .1s;
    transition: opacity .3s;
}

.color-button{
    margin: 2px 0px;
    width: 26px;
    height: 26px;
    border-radius: 2px;
    background-color: white;
    font-family: "FontAwesome";
    font-size: 22px;
    opacity: 1;
    transition: background-color .1s;
    transition: opacity .3s;
}

input#color-button-1{color: #000000;}
input#color-button-2{color: #ED1C24;}
input#color-button-3{color: #FFC90E;}
input#color-button-4{color: #22B14C;}
input#color-button-5{color: #3F48CC;}
input#color-button-6{color: #FFFFFF;}
input#color-button-7{color: #FF7F27;}
input#color-button-8{color: #FFF200;}
input#color-button-9{color: #B5E61D;}
input#color-button-10{color: #00A2E8;}


input#colorPuntero{
    margin: 8px 0px;
    border: none;
    width: 80%;
    height: 40px;
    background: transparent;
}

input#colorFondo{
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

input[type="button"]:hover, input[type="submit"]:hover{
    cursor: pointer;
    opacity: 0.7;
}

input[type="color"]:hover{
    cursor: pointer;
    /* border-color: #d3d3d3; */
}

.boton-1, .boton-2{
    text-align: center;
    font-family: "FontAwesome";
    width: 40px;
    height: 40px;
    margin: 5px 5%;
    border-radius: 50%;
    background-color: white;
}

.boton-1{
    float: left;
    font-size: 30px;
}
.boton-2{
    float: right;
    font-size: 25px;
}
/* --------------------- INPUT DEL GROSOR --------------------- */
input#valorGrosor{
    margin-left: 5px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    border-color: white;
    border-width: 2px;
}

/* --------------------- SLIDER DEL GROSOR --------------------- */
.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 8px;
    border-radius: 5px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4E7FFF;
    cursor: pointer;
}